SCRAM-SHA-1-PLUS + SCRAM-SHA-256-PLUS + SCRAM-SHA-512-PLUS + SCRAM-SHA3-512(-PLUS) supports

After:
- SCRAM-SHA-1
- SCRAM-SHA-224
- SCRAM-SHA-256
- SCRAM-SHA-384
- SCRAM-SHA-512

Can you add supports of :
- SCRAM-SHA-1-PLUS
- SCRAM-SHA-224-PLUS
- SCRAM-SHA-256-PLUS
- SCRAM-SHA-384-PLUS
- SCRAM-SHA-512-PLUS
- SCRAM-SHA3-512
- SCRAM-SHA3-512-PLUS

A "big" list has been done in last link of this ticket.

-------------------

SCRAM-SHA-1(-PLUS):
- https://tools.ietf.org/html/rfc5802
- https://tools.ietf.org/html/rfc6120

SCRAM-SHA-256(-PLUS):
- https://tools.ietf.org/html/rfc7677 since 2015-11-02
- https://tools.ietf.org/html/rfc8600 since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

SCRAM-SHA-512(-PLUS):
- https://tools.ietf.org/html/draft-melnikov-scram-sha-512

SCRAM-SHA3-512(-PLUS):
- https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

SCRAM BIS: Salted Challenge Response Authentication Mechanism (SCRAM) SASL and GSS-API Mechanisms:
- https://tools.ietf.org/html/draft-melnikov-scram-bis

-PLUS variants:
- RFC5056: On the Use of Channel Bindings to Secure Channels: https://tools.ietf.org/html/rfc5056
- RFC5929: Channel Bindings for TLS: https://tools.ietf.org/html/rfc5929
- Channel-Binding Types: https://www.iana.org/assignments/channel-binding-types/channel-binding-types.xhtml
- RFC9266: Channel Bindings for TLS 1.3: https://tools.ietf.org/html/rfc9266

IMAP:
- RFC9051: Internet Message Access Protocol (IMAP) - Version 4rev2: https://tools.ietf.org/html/rfc9051

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

HTTP:
- RFC7804: Salted Challenge Response HTTP Authentication Mechanism: https://tools.ietf.org/html/rfc7804

JMAP:
- RFC8621: The JSON Meta Application Protocol (JMAP) for Mail: https://tools.ietf.org/html/rfc8621

2FA:
- Extensions to Salted Challenge Response (SCRAM) for 2 factor authentication: https://tools.ietf.org/html/draft-melnikov-scram-2fa

IANA:
- Simple Authentication and Security Layer (SASL) Mechanisms: https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml

Linked to:
- https://github.com/scram-xmpp/info/issues/1

@krab ;)

https://github.com/Vacuum-IM/vacuum-im/commit/966da7003cd339a18cd567f80abd1e59120099d0 but i don't know jabber servers with 256, 384, 512 support except metronome

@krab: Thanks for your changes!

Have you tested?

You can test on:
- Metronome IM: lightwitch.org
- Jackal: jackal.im
- Prosody IM 0.12.x
- Tigase XMPP server
- Mongoose IM

You can support 1/224/256/384/512 and -PLUS variants of course.

All are specified here: https://github.com/scram-xmpp/info/issues/1.

@krab: Any news?
Can you see for 224?
And for -PLUS variants?

EDIT: https://github.com/vacuum-im/vacuum-im/pull/962

https://github.com/Vacuum-IM/vacuum-im/commit/b35c4b6ec3327ad0b97f534562cd4e9d8b7d6d21
anyway vacuum-im automatically selects hash method from strongest to weakest that server supports.

> And for -PLUS variants?

Channel binding? Well afair thats still not possible with Qt https://github.com/qt/qtbase/search?q=SSL_get_finished

@krab: Thanks :)

Oh yes I have forgotten..
I have done a ticket here, no people to do it... :/
- https://bugreports.qt.io/browse/QTBUG-77783

It is needed for several XMPP clients....

Dear @vacuum-im team, @krab, @imax9000, @Lion34, @EGD,

It is possible to comment this important Qt ticket about Channel Binding?
- https://bugreports.qt.io/browse/QTBUG-77783

It is to needed to have support of SCRAM-SHA-*-PLUS variants.

Recently, we have seen the jabber.ru MITM:
- https://notes.valdikss.org.ru/jabber.ru-mitm/
- https://snikket.org/blog/on-the-jabber-ru-mitm/
- https://www.devever.net/~hl/xmpp-incident
- https://blog.jmp.chat/b/certwatch

Thanks in advance.

Dear @vacuum-im team members,

I wish you a Happy New Year 2024!

After some comments, an email sent to security@qt.io, there is an important comment about my original ticket about Channel Binding and Qt, I think that you can do an answer here? You are impacted...
- https://bugreports.qt.io/browse/QTBUG-77783?focusedId=768178&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-768178

Thanks in advance.